# Dependencies
node_modules/

# Build outputs
build/
dist/
.out/
.next/
.cache/
.tmp/

# Env and secrets
.env
.env.*
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
coverage/
*.tsbuildinfo

